body{
  margin: 50px 0 0 50px;
  background-color: white;
}

svg {
  width:120px;
  height:85px;
}

rect {
   width:80px;
   height:80px;
}

text {
  x:30px;
  y:55px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 30px;
}

.item {
  display: flex;
  font-size: 130%;
  align-items: center;
}

@media only screen and (max-width: 375px) {

  .container {
    padding: 0;
  }

  .item{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
    font-size: 100%;
  }
}
